extends layout
block title
  title=title
block content
  if session.passport && session.passport.user
    |Eingeloggt als #{session.passport.user.name}
  h1 Über ROFLOMG TriviaQuizzer
  span &copy;2017 MrMoelZ
  span created with nodeJS, express, socket.io, pug and MongoDB
