doctype html
html(class="no-js")
  head
    block title
        title DefaultTitle
    link(rel="stylesheet" media='screen and (max-width:200px)' href="/style/main_mini.css" type="text/css")
    link(rel="stylesheet" media='screen and (min-width:200px) and (max-width:800px)' href="/style/main_compact.css" type="text/css")
    link(rel="stylesheet" media='screen and (min-width:800px)' href="/style/main.css" type="text/css")
  body
    nav(class="navcontainer")
      .navigation
        a(href='/') Home
        a(href='/game') Spielraum
        a(href='#' class="disabled") Statistiken
        a(href='#' class="disabled") Werkstatt
        a(href='/account') Account
        if session.passport && session.passport.user
            a(href='/logout' id="logout") Logout
        else
            a(href='#' id="login") Login
        a(href='/about') Info
    .loginpopout.hide
      form(action='login' method='POST')
        span Name:
        input(type="text" name="username" id="username")
        span Password:
        input(type="text" name="password" id="password")
        button(type="submit") OK
        button(type="reset" id="cancel") X
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    block scripts
    script(type="text/javascript").
      var toggleLogin = function() {
        $('.loginpopout').toggleClass('hide');
      }
      //handles Login/Logout
      var showLogin = false;
      $('#login').click(toggleLogin);
      $('#cancel').click(toggleLogin);
